.row {
  width: fit-content;
  margin: auto;
}

.row:nth-child(3) {
  border-bottom: 2px black solid;
}

.row:nth-child(6) {
  border-bottom: 2px black solid;
}

.row>input:nth-child(3) {
  border-right: 2px black solid;
}

.row>input:nth-child(6) {
  border-right: 2px black solid;
}